In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('2019-2.csv')

df.drop(['Rk', '2PM', '2PP', 'FantPt', 'DKPt', 'FDPt',
        'VBD', 'PosRank', 'OvRank', 'PPR', 'Fmb',
        'GS', 'Age', 'Tgt', 'Y/A', 'Att', 'Att.1', 'Cmp', 'Y/R'], axis=1, inplace=True)

df['Player'] = df['Player'].apply(lambda x: x.split('*')[0]).apply(lambda x: x.split('\\')[0])

df.rename({
    'TD': 'PassingTD',
    'TD.1': 'RushingTD',
    'TD.2': 'ReceivingTD',
    'TD.3': 'TotalTD',
    'Yds': 'PassingYDs',
    'Yds.1': 'RushingYDs',
    'Yds.2': 'ReceivingYDs'
}, axis=1, inplace=True)

df['FantasyPoints'] = (df['PassingYDs']*0.04 + df['PassingTD']*6 - df['Int']*2 + df['RushingYDs']*.1
                      + df['RushingTD']*6 + df['ReceivingYDs']*.1 + df['ReceivingTD']*6 - df['FL']*2)

df['FantasyPoints/GM'] = df['FantasyPoints']/df['G']

# Keep only the columns within the [[ ]]
df = df[['Tm', 'FantPos', 'FantasyPoints', 'FantasyPoints/GM']]

# Remove players who played on two or more teams
df = df[df['Tm'] != '2TM']
df = df[df['Tm'] != '3TM']

# Separate by position and add only RBs to the RB DF etc.
rb_df = df[df['FantPos'] == 'RB']
qb_df = df[df['FantPos'] == 'QB']
wr_df = df[df['FantPos'] == 'WR']
te_df = df[df['FantPos'] == 'TE']

        QB1       RB1       RB2       WR1       WR2       WR3        TE
0 -0.104026 -2.449936  0.071945  1.574175 -0.949639  0.171354 -1.573000
1  0.748609  1.134074 -3.166243  0.982932  0.363834 -0.321274  2.539422
2  1.183841  1.704254  0.680860  1.113144  0.166591 -0.839763 -0.918056
3  0.956361 -0.091699 -0.125140  0.974027  0.498787  1.803160 -1.817056
4  1.189137  0.563103  1.206884 -0.222972  1.310505  0.087484 -0.292462
5  0.343597  0.708116 -0.079653 -1.154573  0.685821 -1.664279  1.052087
6  0.131221  0.392376  1.383523  0.463510  1.149939 -1.027524  1.359959
7  0.296451 -0.123522 -0.135308  1.516530  0.745070  1.688973 -0.192047
8 -1.332106 -0.785849 -0.060099  0.129896 -2.077731  1.226896  1.685869
9 -0.579924  1.224427  0.055144  0.787538  0.339951 -0.942232 -0.346731